{% extends "mantis_actionables/grappelli/table_base.html" %}

{% block additional_infos %}
  <div class="grp-module grp-collapse grp-open">
    <h2 class="grp-collapse-handler">Indicators (or parts of them) queried</h2>
    {% if query_icontains %}
      <div class="grp-module grp-collapse grp-closed">
        <h3 class="grp-collapse-handler">non-parsed indicators (or parts) - search mode: icontains</h3>
        <table>
          {% for query_term in query_icontains %}
            <tr>
              <td>{{ query_term }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
    {% if query_parsed %}
      <div class="grp-module grp-collapse grp-closed">
        <h3 class="grp-collapse-handler">parsed indicators with type - search mode: exact</h3>
        <table>
          {% for query_term, type in query_parsed %}
            <tr>
              <td>{{ type }}</td>
              <td>{{ query_term }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}